body {
    background-color: rgb(255, 237, 188);
}

.content-barrage {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: url("../img/HB.png");
    /* background-repeat: no-repeat; */
    background-size: 100% auto;
    -moz-background-size: 100% au;
}

.content-barrage-single {
    /* top: 200px; */
    background: rgba(255, 255, 255, 0.493);
    border-radius: 20px;
    display: inline-block;
    padding: 4px 18px;
    color: rgb(10.2, 66.3, 252.45);
    position: absolute;
    white-space: nowrap;
    transition: all 0.3s;
    font-size: 50px;
    font-weight: bolder;
}

/*  为了防止突兀的出现 现在是从又到左面的负一屏 但是影响性能 可以根据自己的业务场景修改 */

@keyframes barrage {
    from {
        left: 100%;
    }
    to {
        left: -300%;
    }
}